/* typography */

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

$font: 'Noto Sans';

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;